@import '../../blocks/subtitle.scss';

.biography{
  width: 1080px;
  
  &__title{
    margin: 0 0 16px 0;
  }
}

@media screen and (max-width: 1144px){
  .biography{
    width: calc(100% - 64px);
  }
}

@media screen and (max-width: 768px){
  .biography{
    width: calc(100% - 32px);
  }
}