/* Roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./Roboto-Light.woff2") format("woff2"),
       url("./Roboto-Light.woff") format("woff"),
       url("./Roboto-Light.ttf") format("ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-Regular.woff2") format("woff2"),
       url("./Roboto-Regular.woff") format("woff"),
       url("./Roboto-Regular.ttf") format("ttf");
}


/* Montsettat Alternates */

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./MontserratAlternates-Regular.woff2") format("woff2"),
       url("./MontserratAlternates-Regular.woff") format("woff"),
       url("./MontserratAlternates-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./MontserratAlternates-Medium.woff2") format("woff2"),
       url("./MontserratAlternates-Medium.woff") format("woff"),
       url("./MontserratAlternates-Medium.ttf") format("ttf");
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./MontserratAlternates-SemiBold.woff2") format("woff2"),
       url("./MontserratAlternates-SemiBold.woff") format("woff"),
       url("./MontserratAlternates-SemiBold.ttf") format("ttf");
}


