@import '../../utils/variables.scss';

.hobby{
  width: 1080px;

  &__title{
    margin: 0 0 16px 0;
  }
}

@media screen and (max-width: 1144px){
  .hobby{
    width: calc(100% - 64px);
  }
}

@media screen and (max-width: 768px){
  .hobby{
    width: calc(100% - 32px);
  }
}