@import '../../utils/variables.scss';

.card-name{
  display: flex;
  flex-direction: row;
  height: 50px;

  &__title{
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.25;
  }

  &__github{
    position: relative;
    width: 40px;
    height: 40px;
    min-width: 40px;
    margin: 0 0 0 16px;
    background-color: $accentColor;
    border-radius: 50%;

    &_dark{
      background-color: $darkAccentColor;
    }
  }

  &__icon{
    width: 24px;
    height: 24px;
    inset: 0;
    position: absolute;
    margin: auto;
  }
}