@import '../../utils/variables.scss';

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: $headerColor;
  backdrop-filter: blur( 5px );
  border-bottom: 1px solid $borderColor;
  z-index: 2;

  &_dark{
    background-color: $darkHeaderColor;
    border-bottom: 1px solid $darkBorderColor;
  }
  
  &__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1080px; 
    margin: 0 auto;
  }

  &__left-column{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__navigation{
    margin: 0 0 0 74px;
  }
  
  &__pages{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__link{
    margin: 0 48px 0 0;
    padding: 0;
    color: $fontColor;
    font-family: $mainFont;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    text-decoration: none;

    &_dark{
      color: $darkFontColor;
    }

  }

  &__theme-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: none;
    background-color: $accentColor;
    border-radius: 10px;
    cursor: pointer;

    &_dark{
      background-color: $darkAccentColor;
    }
  }

  &__theme-img{
    width: 16px;
  }

}