//Fonts =================================================================
$mainFont: 'Montserrat Alternates', sans-serif;
$engFont: 'Roboto', sans-serif;

//Colors ================================================================

// Light mode
$primaryColor: hsl(169, 41%, 90%);
$primaryMiddleColor: hsl(169, 41%, 93%);
$primaryLightColor: hsl(169, 41%, 97%);
$fontColor: hsl(52, 22%, 7%);
$secondaryColor: hsl(222, 64%, 47%);


// Dark mode
$dPrimaryColor: hsl(130, 5%, 10%);
$dPrimaryMiddleColor: hsl(140, 6%, 13%);
$dPrimaryLightColor: hsl(135, 6%, 20%);
$dFontColor: hsl(0, 0%, 93%);
$dSecondaryColor: hsl(0, 0, 93%);
