@import '../../utils/variables.scss';

.courses{
  font-family: $engFont;
  width: 100%;
  background-color: $secondaryColor;
  padding: 100px 0 100px 0;

  &_dark{
    background-color: $darkSecondaryColor;
  }

  &__container{
    width: 1080px;
    margin: 0 auto;
  }

  &__title{
    margin: 0 0 48px 0;
  }

  &__list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    justify-items: stretch;
    width: 100%;
    margin: 0 0 60px 0;
    padding: 0;
    list-style-type: none;
  }

  &__item{
    height: 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $spanColor;
    color: $fontColor;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    border-radius: 15px;
    padding: 16px;
    border: 1px solid $boxColor;

    &_dark{
      background-color: $darkSpanColor;
      color: $darkFontColor;
      border: .5px solid $darkBoxColor;
    }
  }

  &__link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 48px;
    margin: 0 auto;
    background-color: $accentColor;
    font-family: $mainFont;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 15px;
    font-size: 14px;

    &_dark{
      background-color: $darkAccentColor;
    }
  }

  &__icon{
    margin: 0 0 0 6px;
  }

  &__img{
    max-height: 64px;
    max-width: 128px;
  }
}