@import '../utils/variables.scss';

.title{
  margin: 0; 
  padding: 0 0 12px 0;
  font-family: $mainFont;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.25;
  color: $fontColor;
  width: 100%;

  &_dark{
    color: $darkFontColor;
  }
}

@media screen and (max-width: 768px){
  .title{
    font-size: 24px;
    padding: 0 0 6px 0;
  }
}