@import '../../utils/variables.scss';

.footer{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $primaryColor;
  color: $fontColor;
  font-family: $engFont;
  border-top: 1px solid $borderColor;

  &_dark{
    color: $darkFontColor;
    background-color: $darkPrimaryColor;
    border-top: 1px solid $darkBorderColor;
  }

  &__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 1080px;
  }

  &__copyright{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
  }

  &__link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 16px;
    border-radius: 15px;
    background-color: $accentColor;
    font-family: $mainFont;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;

    &_dark{
      background-color: $darkAccentColor;
    }
  }

  &__img{
    margin: 0 12px 0 0;
  }
}