@import '../../utils/variables.scss';

.contacts{
  width: 1080px;

  &__title{
    margin: 0 0 16px 0;
  }

  &__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__item{
    margin: 0;
    padding: 0;
  }

  &__link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    margin: 0;
    padding: 12px;
    box-sizing: border-box;
    background-color: $secondaryColor;
    border-radius: 15px;
    font-family: $mainFont;
    color: $fontColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;

    &_dark{
      background-color: $darkSecondaryColor;
      color: $darkFontColor;
    }
  }

  &__img{
    margin: 0 12px 0 0;
  }
}

@media screen and (max-width: 1144px){
  .contacts{
    width: calc(100% - 64px);
  }
}

@media screen and (max-width: 960px){
  .contacts{

    &__list{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      align-items: center;
      gap: 16px;
    }

    &__link{
      width: 300px;
    }
  }
}

@media screen and (max-width: 768px){
  .contacts{
    width: calc(100% - 32px);

    &__list{
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 400px){
  .contacts{

    &__link{
      width: 100%;
      font-size: 12px;
    }
  }
}

